@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
    height: 100vh;
    width: 100vw;
    background-color: black;

}

body {
    background: url(../pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
    
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


    height: 627px;
    width: 311px;
    background:url(../pacote-d013/imagens/frame-iphone.png) no-repeat;
    background-size: cover;

    box-shadow: 0px 0px 0px black;
    

}


iframe#tela {
    position: relative;
    top: 83px;
    left: 25px;
    width: 262px;
    height: 465px;

}

section#redes-sociais {
text-align: right;

}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
    
    

}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.61);
    transform: translate(-3px,-3px);
    box-shadow: 11px 5px 18px black;
    transition: transform 0.50s, box-shadow 0.50s;
}



